body {
  background-color: #FFFCF6;
  /* Uso la variable*/ }

footer {
  background-color: #EB7C63;
  /* Uso la variable*/
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  color: #FFFFFF; }

#menuFooterlink {
  color: #FFFFFF; }
