body {
  background-color: #FFFCF6;
  /* Uso la variable*/ }

/*top bar*/
.topBar {
  margin-top: 10px; }

/* footer*/
.footerPrincipal {
  padding: 10px;
  background-color: #EB7C63;
  margin-top: 25px; }

/* fin footer*/
.logo__header {
  margin: 30px; }

.nav-link {
  color: #D85B65; }

.buscadorPp {
  margin-top: 30px;
  font-family: "Nunito", sans-serif;
  font-weight: 100; }

.titulos__principales {
  color: #D85B65;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-align: left; }

.titulosSecundarios {
  color: #1D1D1B;
  font-family: 'Inter', sans-serif;
  font-weight: 400; }

.titulosSecundariosbox {
  color: #333333;
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500; }

.subtitulosPrimarios {
  color: #1D1D1B;
  font-family: 'Nunito', sans-serif;
  font-weight: 600; }

.subtitulosSecundarios {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 400; }

.parrafos {
  color: red;
  font-family: 'Arenas movedizas', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left; }

.parrafoNews {
  color: #333333;
  font-family: 'Arenas movedizas', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center; }

.pProducto {
  color: #D85B65;
  font-family: 'Arenas movedizas', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center; }

/*GIFT*/
.giftCard {
  padding: 10px;
  margin-top: 15px; }

.giftCard h3 {
  font-weight: 300;
  font-size: 26px; }

.giftCard ul {
  list-style: none;
  padding: 0; }

/*Promociones*/
.promocionesIndex {
  padding: 5px;
  margin-top: 15px; }

.promocionesIndex .icon-box {
  text-align: center;
  padding: 30px 30px 30px 30px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08); }

.promocionesIndex .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px; }

.promocionesIndex .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0; }

/*Productos Destacados*/
.productosDestacados {
  padding: 10px 0;
  margin-top: 15px; }

.productosDestacados .cuadros {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1); }

.productosDestacados .cuadros .cuadros-img {
  position: relative;
  overflow: hidden; }

.zoom {
  transition: transform .2s;
  /* Animation */
  margin: 0 auto; }

.zoom:hover {
  transform: scale(1.5);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ }

.productosDestacados .cuadros .cuadros-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #493c3e; }

.productosDestacados .cuadros .cuadros-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa; }

.productosDestacados .cuadros .cuadros-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777; }

/*newsletter*/
.newsletterPrincipal {
  background-color: #FDD7A1;
  padding: 30px;
  margin-top: 15px; }

.btn-primary {
  background-color: #AFDACF;
  color: #4D4D4D; }

.btn-primary:hover {
  background-color: #ffffff;
  color: #D85B65; }

/*fin newsletter*/
/*quienessomos*/
.menuPrincipalQS {
  color: #D85B65; }

.fotosNosotros {
  background-color: white;
  text-align: center; }

/*personalizados*/
.menuPrincipalPer {
  color: #D85B65; }

.primerRenglon, .segundoRenglon, .tercerRenglon {
  padding: 10px; }

#galeria img:hover {
  border: 5px solid #fff; }

/* fin personalizados*/
/*contacto*/
.menuPrincipalContacto {
  color: #D85B65; }

.titulosFormulario {
  color: #1D1D1B;
  font-family: 'Inter', sans-serif;
  font-weight: 400; }
