$body-background-color: #FFFCF6;

$footer-background-color:#EB7C63;

$footer-color:#FFFFFF;

$hover-nav-color: #FFFCF6;

$buscadorPrincipal-background-color: #F6AC90;

$productosDestacados-background-color: #FFFFFF;