$font-family-nav: 'Montserrat', sans-serif;
$font-weight-nav: 900;

$font-family-buscadorPrincipal: 'Lato', sans-serif;
$font-weight-buscadorPrincipal: 100;

$font-family-footer: 'Lato', sans-serif;
$font-weight-footer: 200;

$font-family-parrafos: 'Lato', sans-serif;
$font-weight-parrafos: 400;
$color-font-parrafos: #333333;
