$font-family-nav: 'Inter', sans-serif;
$font-weight-nav: 500;

$font-family-buscadorPrincipal: 'Nunito', sans-serif;
$font-weight-buscadorPrincipal: 100;

$font-family-footer: 'Nunito', sans-serif;
$font-weight-footer: 200;
