@import "colores";
@import "fuentes";
@mixin titulosprincipales {
    color:#D85B65;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-align: left;
}

@mixin titulossecundarios {
  color: #1D1D1B;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}


body {
    background-color: $body-background-color; /* Uso la variable*/
}



/* footer*/

.footerPrincipal {
  padding: 10px;
}

/* fin footer*/

.logo__header {
  margin: 30px;
}

#navbarNavDropdown.collapse.navbar-collapse {
  align-items: center;
  margin: 5px;
}

.buscadorPrincipal {
  margin: 20px;
  font-family: $font-family-buscadorPrincipal;
  font-weight: $font-weight-buscadorPrincipal;
}

.botonBuscar {
  background-color: $buscadorPrincipal-background-color;
}

.productosDestacados {
  margin: 15px;
  background-color: $productosDestacados-background-color;
  justify-items: center;
}

.promocionesPrincipales {
  margin: 10px;
  background-color: #FDD7A1;
  justify-items: center;
}

.promo {
  max-width: 340px;
  justify-items: center;
}


.titulos__principales {
  @include titulosprincipales;
}

.titulosSecundarios {
  @include titulossecundarios;
}

.titulosSecundariosbox {
  color: #333333;
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.subtitulosPrimarios {
  color: #1D1D1B;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

.subtitulosSecundarios {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.parrafos {
  color: red;
  font-family: 'Arenas movedizas', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.parrafoNews {
  color: #333333;
  font-family: 'Arenas movedizas', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.pProducto {
  color:  #D85B65;
  font-family: 'Arenas movedizas', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center; }

/*GIFT*/

.about h3 {
  font-weight: 300;
  font-size: 26px;
}

.about ul {
  list-style: none;
  padding: 0;
}

.about ul li {
  padding-bottom: 10px;
}

.about ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #70b9b0;
}

.about p:last-child {
  margin-bottom: 0;
}    

/*Promociones*/

.cajaPromos {
  text-align: center;
  padding: 30px 30px 30px 30px;
  background: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

/*Productos Destacados*/

.team {
  background: #fff;
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}

.team .member .social a {
  transition: color 0.3s;
  color: #493c3e;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #e43c5c;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #493c3e;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
}


.newsletter {
  text-align: center;
  padding: 70px 20px 80px 20px;
  background: #fff;
}

.newsletter .content {
background:#F6AC8F;    
max-width: 920px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.newsletter .content h2 {
color: #243c4f;
margin-bottom: 40px; }
.newsletter .content .form-control {
height: 50px;
border-color: #ffffff;
border-radius:0;
}
.newsletter .content.form-control:focus {
box-shadow: none;
border: 2px solid #F6AC8F;
}
.newsletter .content .btn {
min-height: 50px; 
border-radius:0;
background: #243c4f;
color: #fff;
font-weight:600;
}



/*quienessomos*/

.menuPrincipalQS {
  color:#D85B65;
}

.fotosNosotros {
  background-color:white;
  text-align: center;
}

/*personalizados*/

.menuPrincipalPer {
  color:#D85B65;
}


/*contacto*/

.menuPrincipalContacto {
  color:#D85B65;
}


.titulosFormulario {
  color: #1D1D1B;
  font-family: 'Inter', sans-serif;
  font-weight: 400;}
